@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #EFFFFD;
    --color2: #B8FFF9;
    --color3: #85F4FF;
    --color4: #42C2FF;
    --main-color: var(--color1);
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #F9FBFC;
}


