:root {
    --color1: #EFFFFD;
    --color2: #B8FFF9;
    --color3: #85F4FF;
    --color4: #42C2FF;
}

.main-color {
    background: linear-gradient(90deg, var(--color2), var(--color4));
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#0014FF, #009EFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}